.App {
  text-align: center;
}

/* example with useDefault class active NavLink
.active {
  color: blue;
  text-decoration: none;
}
*/

.activeLink {
  color: blue;
  text-decoration: none;
}



nav a {
  margin: 15px;
}

nav {
  background-color: darkgrey;
  padding: 5px;
}

.footer {
  height: 30px;
  background: #7a7878;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
